<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="card mx-auto mt-5 shadow-lg" style="max-width: 600px;">
        <div class="card-header bg-primary text-white text-center">
            <h2>Registration Form</h2>
        </div>
        <div class="card-body">
            <form th:action="@{/customer/register}" th:object="${customer}" method="post" class="needs-validation" novalidate
                  onsubmit="return checkEmailUnique(this)">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" th:field="*{email}" class="form-control" id="email"
                           placeholder="Enter your email" required>
                    <div class="invalid-feedback">
                        Please enter a valid email.
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" th:field="*{password}" class="form-control" id="password"
                           placeholder="Enter your password" required>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password"
                           required>
                    <div class="invalid-feedback">
                        Passwords do not match.
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="firstName" maxlength="45"
                           placeholder="Enter your first name" required>
                    <div class="invalid-feedback">
                        Please enter your first name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" th:field="*{lastName}" class="form-control" id="lastName" maxlength="45"
                           placeholder="Enter your last name" required>
                    <div class="invalid-feedback">
                        Please enter your last name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="tel" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" maxlength="15"
                           placeholder="Enter your phone number">
                    <div class="invalid-feedback">
                        Please enter a valid phone number.
                    </div>
                </div>
                <div class="form-group">
                    <label for="addressLine1">Address Line 1:</label>
                    <input type="text" th:field="*{addressLine1}" class="form-control" id="addressLine1" maxlength="64"
                           placeholder="Enter your address" required>
                    <div class="invalid-feedback">
                        Please enter your address.
                    </div>
                </div>
                <div class="form-group">
                    <label for="addressLine2">Address Line 2:</label>
                    <input type="text" th:field="*{addressLine2}" class="form-control" id="addressLine2" maxlength="64"
                           placeholder="Enter your address line 2">
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" th:field="*{city}" class="form-control" id="city" maxlength="45"
                           placeholder="Enter your city" required>
                    <div class="invalid-feedback">
                        Please enter your city.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal"> &times;</button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    var password = document.getElementById('password').value;
                    var confirmPassword = document.getElementById('confirmPassword').value;
                    if (password !== confirmPassword) {
                        event.preventDefault();
                        event.stopPropagation();
                        document.getElementById('confirmPassword').setCustomValidity('Passwords do not match');
                    } else {
                        document.getElementById('confirmPassword').setCustomValidity('');
                    }
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function checkEmailUnique(form) {
        url = "[[@{/Customer/check_email}]]";
        userEmail = $("#email").val();
        userId = $("#id").val();
        csrfValue = $("input[name='_csrf']").val();
        params = {id: userId, email: userEmail, _csrf: csrfValue};

        $.post(url, params, function (response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "Duplicated") {
                showModalDialog("Warning", "There is another user having the email: " + userEmail)
            } else {
                showModalDialog("Error", "Unknown response from server");
            }
        }).fail(function () {
            showModalDialog("Error", "Could not connect to the server");
        });

        return false;
    }

    function showModalDialog(title, message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal();
    }
</script>
</body>
</html>
