<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragment :: page_head('Home - Shopme Admin')"/>


<body class="container-fluid">
<div th:replace="navigation :: menu">
</div>
<div>
    <h2>Shopme Control Panel</h2>
    <div class="d-flex align-items-center">
        <div class="mr-0">
            Welcome
        </div>
        <a class="m-1" sec:authentication="principal.fullname">Default name</a>
        <div>
            <span sec:authentication="principal.authorities"></span>
        </div>
    </div>
</div>

<div th:replace="fragment :: footer">
</div>
</body>

</html>