<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: page_head('Brand - Shopme Admin')">
    <link rel="stylesheet" th:href="@{/richtext/jquery.richtext.min.js}">
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
</head>

<body>
<div th:fragment="content">
    <div class="m-2">
        <label>Short Description</label>
        <textarea class="form-control" th:field="*{shortDescription}" row="5" required></textarea>
    </div>
    <div class="m-2">
        <label>full Description</label>
        <textarea class="form-control" th:field="*{fullDescription}" row="5" required></textarea>
    </div>

    <div>
        <input type="hidden" th:field="*{createdTime}"/>
        <input type="hidden" th:field="*{updatedTime}"/>
    </div>
</div>
</body>
</html>