<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: page_head('Products - Shopme Admin')"/>

<body class="container-fluid">
<div th:replace="navigation :: menu">
</div>

<div>
    <h2>Manage Products</h2>
    <a th:href="@{/products/new}">Create New Product</a>
</div>

<div th:if="${message != null}" class="alert alert-success text-center">
    [[${message}]]
</div>

<div>
    <div>
        <form th:action="@{/products/page/1}" class="form-inline m-3">
            <label class="mr-2">Search:</label>
            <input type="search" name="keyword" th:value="${keyword}" class="form-control"/>
            &nbsp; &nbsp;
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
            &nbsp; &nbsp;
            <button type="button" class="btn btn-secondary" onclick="clearFilter()">
                <i class="fas fa-eraser"></i>
            </button>
        </form>
    </div>

    <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Main image</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Enabled</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product : ${listProducts}">
            <td>[[${product.id}]]</td>
            <td>
                <img th:src="@{${product.mainImagePath}}" style="width:100px"/>
            </td>
            <td>[[${product.name}]]</td>
            <td>[[${product.brand.name}]]</td>
            <td>[[${product.category.name}]]</td>
            <td>
                <a th:if="${product.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
                   th:href="@{'/products/' + ${product.id} + '/enabled/false'}" title="Disable this product"></a>
                <a th:if="${product.enabled == false}" class="fas fa-circle fa-2x icon-dark"
                   th:href="@{'/products/' + ${product.id} + '/enabled/true'}" title="Enable this product"></a>
            </td>
            <td>
<!--                <a class="fas fa-file-alt fa-2x icon-green" th:href="@{'/products/detail/' + ${product.id}}"-->
<!--                   title="View this product"></a>-->
                &nbsp;
                <a class="fas fa-edit fa-2x icon-green" th:href="@{'/products/edit/' + ${product.id}}"
                   title="Edit this product">
                </a>
                &nbsp;
                <a class="fas fa-trash fa-2x icon-green link-delete"
                   th:href="@{'/products/delete/' + ${product.id}}" th:productId="${product.id}"
                   title="Delete this product"></a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="text-center m-1" th:if="${totalItems > 0}">
    <span>Showing products # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
</div>
<div class="text-center m-1" th:unless="${totalItems > 0}">
    <span>No product found</span>
</div>

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:class="${currentPage != 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:href="@{'/products/page/1'}">First</a>
            </li>
            <li th:class="${currentPage > 1 ?  'page-item' : 'page-item disabled'}">
                <a class="page-link" th:href="@{'/products/page/' + ${currentPage - 1}}">Previous</a>
            </li>

            <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a class="page-link" th:href="@{'/products/page/' + ${i}}">[[${i}]]</a>
            </li>
            <li th:class="${currentPage != totalPages ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:href="@{'/products/page/' + ${currentPage + 1}}">Next</a>
            </li>
            <li th:class="${currentPage != totalPages ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:href="@{'/products/page/' + ${totalPages}}">Last</a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal"> &times;</button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" href="" id="yesButton">YES</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragment :: footer">
</div>

<script>
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            productId = link.attr("productId");
            $("#yesButton").attr("href", link.attr("href"));
            if (productId !== null && productId !== undefined) {
                $("#confirmText").text("Are you sure you want to delete this Product ID " + productId + "?");
                $("#confirmModal").modal();
            }
        });
    });

    function clearFilter() {
        var keywordInput = document.querySelector('input[name="keyword"]');
        keywordInput.value = '';
    }

</script>

</body>

</html>